body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #2a003e, #1b0026); /* Темно-фиолетовый градиент */
    color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* Стили для контейнера игры */
.game-container {
    text-align: center;
    margin-top: 80px; /* Отступ сверху для фиксированной шапки */
    width: 90%;
}

/* Стили для отображения множителя */
.multiplier-display {
    font-size: 1.2em;
    color: #fff;
    font-family: arial;
    margin: 20px 0; /* Отступы сверху и снизу */
}

/* Стили для контейнера с самолетом */
.airplane-container {
    position: relative;
    height: 200px;
    overflow: hidden;
    border: 2px solid #181818; /* Темно-фиолетовый цвет для границы */
    border-radius: 20px;
    touch-action: none;
    background: rgba(0, 0, 0, 0.3); /* Легкая тень для контейнера */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 3px solid #713aee; /* Более толстая граница */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Тень для более глубокого эффекта */
}

.header-title {
    height: 40px; /* Установите высоту по вашему усмотрению */
}

.balance-display {
    background: #444; /* Серый фон для отображения баланса */
    color: #f1f1f1; /* Темный текст для контраста */
    font-size: 1em; /* Размер шрифта для баланса уменьшен */
    padding: 8px 15px; /* Уменьшенное внутреннее пространство */
    border-radius: 5px; /* Закругленные углы */
    border: solid 1px #666;
}

.airplane {
    font-size: 50px;
    position: absolute;
    bottom: 0;
    margin: 0px 0px 5px 10px;
    transition: transform 0.1s linear;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0px;
    background-color: #713aee; /* Темно-фиолетовая линия */
    width: 0;
    visibility: hidden;
    transition: width 0.1s linear;
}

.controls-container {
    background-color: #231c47;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Промежуток между элементами */
    width: 100%; /* Полная ширина для контейнера управления */
    max-width: 400px; /* Максимальная ширина контейнера */
    margin-top: 20px;
    box-sizing: border-box;
}

/* Стили для блока авто-вывода */
.auto-cashout {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между чекбоксом и полем ввода */
    margin-bottom: 15px; /* Отступ снизу */
}

/* Стили для чекбокса */
.auto-cashout-switch {
    display: flex;
    align-items: center;
}

.auto-cashout-slider {
    background-color: #6e2c91; /* Темно-фиолетовый цвет для активного свитча */
    border-radius: 12px;
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: #6e2c91; /* Цвет чекбокса */
}

.inp1 {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: #fff;
    background-color: #231c47;
    border: none;
    width: 100%; /* Поле ввода растягивается на всю ширину контейнера */
}

.inp2 {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    color: #fff;
    background-color: #231c47;
    border: none;
    width: 85px; /* Ширина для поля авто-вывода */
}

/* Общие стили для кнопок */
.btn {
    font-family: arial;
    font-weight: bold;
    font-size: 18px;
    padding: 18px 0; /* Изменена на 0 для полного заполнения ширины */
    border-radius: 12px;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%; /* Кнопка растягивается на всю ширину контейнера */
}

/* Фиолетовая кнопка (primary) */
.btn-primary {
    touch-action: none;
    background: radial-gradient(circle, rgba(115,58,241,1) 0%, rgba(100,42,250,1) 40%, rgba(127,63,245,1) 100%);
}

.btn-primary:hover {
    background-color: #642afa;
    box-shadow: 0 6px 12px rgba(106, 27, 133, 0.8);
}

/* Оранжевая кнопка (secondary) */
.btn-secondary {
    background-color: #ff5722;
    touch-action: none;
}

.btn-secondary:hover {
    background-color: #e64a19;
    box-shadow: 0 6px 12px rgba(255, 87, 34, 0.8);
}

.message {
    font-size: 1.1em;
    color: #51f542;
    margin: 10px 0;
    font-family: arial;
    font-weight: bold;
}

.height-indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #713aee; /* Темно-фиолетовый цвет для индикаторов высоты */
    margin: 0 2px;
}

