body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #2a003e, #1b0026); /* Темно-фиолетовый градиент */
    color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    touch-action: none;
}

/* Стили для контейнера игры */
.game-container {
    text-align: center;
    margin-top: 0; /* Отступ сверху для фиксированной шапки */
    width: 90%;
}

/* Стили для отображения множителя */
.multiplier-display {
    font-size: 1.2em;
    color: #fff;
    font-family: arial;
    margin: 20px 0; /* Отступы сверху и снизу */
}

/* Стили для контейнера с самолетом */
.airplane-container {
    position: relative;
    height: 200px;
    overflow: hidden;
    border: 2px solid #181818; /* Темно-фиолетовый цвет для границы */
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.3); /* Легкая тень для контейнера */
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #222;
    color: #fff;
    width: 100%;
    padding: 10px 20px; /* Уменьшенное внутреннее пространство для компактного вида */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 3px solid #713aee; /* Более толстая граница */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Тень для более глубокого эффекта */
}

.header h1 {
    font-size: 1.8em; /* Размер шрифта заголовка уменьшен */
    margin: 0;
    padding: 0;
    font-weight: bold;
    letter-spacing: 0.5px; /* Уменьшенное расстояние между буквами */
}

.balance-display {
    background: #444; /* Серый фон для отображения баланса */
    color: #f1f1f1; /* Темный текст для контраста */
    font-size: 1em; /* Размер шрифта для баланса уменьшен */
    padding: 8px 15px; /* Уменьшенное внутреннее пространство */
    border-radius: 5px; /* Закругленные углы */
    border: solid 1px #666;
}

.game-title {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.airplane {
    font-size: 50px;
    position: absolute;
    bottom: 0;
    transition: transform 0.1s linear;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #713aee; /* Темно-фиолетовая линия */
    width: 0;
    visibility: hidden;
    transition: width 0.1s linear;
}

.controls {
    margin: 20px 0;
}

input, button {
    padding: 10px;
    font-size: 1em;
}

/* Стили для инпутов */
input[type="number"] {
    border: 1px solid #713aee; /* Темно-фиолетовая граница для инпутов */
    background: #fff;
    color: #333;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background: radial-gradient(circle, rgba(115,58,241,1) 0%, rgba(100,42,250,1) 40%, rgba(127,63,245,1) 100%);
    color: #fff;
    box-shadow: 0 4px 8px rgba(106, 27, 133, 0.6); /* Фиолетовая тень */
}

button:hover {
    background-color: #642afa; /* Более темный оттенок фиолетового при наведении */
    box-shadow: 0 6px 12px rgba(106, 27, 133, 0.8); /* Более яркая фиолетовая тень при наведении */
}


input:checked + .auto-cashout-slider {
    background-color: #6e2c91; /* Темно-фиолетовый цвет для активного свитча */
}

input:checked + .auto-cashout-slider:before {
    transform: translateX(14px);
}

.message {
    font-size: 1.1em;
    color: #51f542;
    margin: 10px 0;
    font-family: arial;
    font-weight: bold;
}

.height-indicators {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #713aee; /* Темно-фиолетовый цвет для индикаторов высоты */
    margin: 0 2px;
}

/* Оранжевый цвет для кнопки "Забрать" */
.btn-secondary {
    width: 158px;
    background-color: #ff5722; /* Оранжевый цвет */
    color: #fff; /* Белый текст */
}

.btn-secondary:hover {
    background-color: #e64a19; /* Более темный оранжевый при наведении */
    box-shadow: 0 6px 12px rgba(255, 87, 34, 0.8); /* Более яркая оранжевая тень при наведении */
}

.btn-primary {
    font-family: arial;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 45px;
    border-radius: 12px;
    float: right;
  }
  
 .cont-stav {
   margin: 15px auto;
   border-radius: 15px;
   background-color: #231c47;
   padding: 25px;
 }

.inp1 {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  float: left;
  margin: 10px 10px;
 }
 
 .inp2 {
   width: 85px;
 }